.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f8d7da;
    color: #000;
    text-align: center;
    padding: 20px;
}

.errorCode {
    font-size: 96px;
    margin: 0;
    color: #000;
}

.message {
    font-size: 24px;
    margin-top: 20px;
    color: #000;
}

.suggestion {
    font-size: 18px;
    margin-top: 10px;
    color: #000;
}